body {
    padding-top: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/Stock_Game_BG.webp");
    background-size: cover;
    background-position: center;
    color: #ffffff; /* Light text color to stand out */
}

.canvas-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9); /* White background for the chart */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Soft shadow to make it pop */
}

.form-control, .btn {
    background-color: rgba(255, 255, 255, 0.9); /* Light background for buttons and input fields */
    border-radius: 5px;
    color: #333; /* Dark text on form elements */
}

.btn {
    margin-top: 10px;
}

.trade-controls {
    margin-top: 20px;
}

h1, h3 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Text shadow for better contrast on dark background */
}