<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToC</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {% include 'header.html' %}

    <div class="container py-5">
        <h1 class="display-4 mb-4">Table of Contents</h1>

        <div class="row mb-2">
            <!-- Card 1 -->
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis">Chapter 1</strong>
                        <h3 class="mb-0">Introduction to Finance</h3>
                        <p class="card-text mb-auto">Learn the basics of finance and its importance in the corporate world.</p>
                        <a href="{{ url_for('get_ch1') }}" class="icon-link gap-1 icon-link-hover stretched-link">
                            Start reading
                            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="{{ url_for('static', filename='img/Obj_Financial_M.webp') }}" class="bd-placeholder-img" width="200" height="250" alt="Intro to Finance Image">
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis">Chapter 2</strong>
                        <h3 class="mb-0">Reviewing Financial Statements</h3>
                        <p class="card-text mb-auto">Discover the critical roles that financial managers play in corporate success.</p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            Start reading
                            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="{{ url_for('static', filename='img/roles_financial_managers.webp') }}" class="bd-placeholder-img" width="200" height="250" alt="Roles Image">
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <!-- Card 3 -->
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis">Chapter 3</strong>
                        <h3 class="mb-0">Analyzing Financial Statements</h3>
                        <p class="card-text mb-auto">Understand the different divisions within finance, such as corporate, markets, and institutions.</p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            Start reading
                            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="{{ url_for('static', filename='img/divisions_finance.webp') }}" class="bd-placeholder-img" width="200" height="250" alt="Divisions Image">
                    </div>
                </div>
            </div>

            <!-- Card 4 -->
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis">Chapter 4</strong>
                        <h3 class="mb-0">Financial Planning</h3>
                        <p class="card-text mb-auto">Learn about the importance of financial planning and how it impacts business decisions.</p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            Start reading
                            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="{{ url_for('static', filename='img/financial_planning.webp') }}" class="bd-placeholder-img" width="200" height="250" alt="Financial Planning Image">
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <!-- Card 5 -->
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis">Chapter 5</strong>
                        <h3 class="mb-0">Capital Budgeting</h3>
                        <p class="card-text mb-auto">Explore the process of capital budgeting and its significance in financial management.</p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            Start reading
                            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="{{ url_for('static', filename='img/capital_budgeting.webp') }}" class="bd-placeholder-img" width="200" height="250" alt="Capital Budgeting Image">
                    </div>
                </div>
            </div>

            <!-- Card 6 -->
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis">Chapter 6</strong>
                        <h3 class="mb-0">Risk Management</h3>
                        <p class="card-text mb-auto">Understand the principles of risk management and how to mitigate financial risks.</p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            Start reading
                            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="{{ url_for('static', filename='img/risk_management.webp') }}" class="bd-placeholder-img" width="200" height="250" alt="Risk Management Image">
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <!-- Card 7 -->
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis">Chapter 7</strong>
                        <h3 class="mb-0">Financial Markets</h3>
                        <p class="card-text mb-auto">Learn about the structure and function of financial markets and their role in the economy.</p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            Start reading
                            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="{{ url_for('static', filename='img/financial_markets.webp') }}" class="bd-placeholder-img" width="200" height="250" alt="Financial Markets Image">
                    </div>
                </div>
            </div>

            <!-- Card 8 -->
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis">Chapter 8</strong>
                        <h3 class="mb-0">Investment Analysis</h3>
                        <p class="card-text mb-auto">Discover the techniques used in investment analysis and portfolio management.</p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            Start reading
                            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="{{ url_for('static', filename='img/investment_analysis.webp') }}" class="bd-placeholder-img" width="200" height="250" alt="Investment Analysis Image">
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <!-- Card 9 -->
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis">Chapter 9</strong>
                        <h3 class="mb-0">Corporate Finance</h3>
                        <p class="card-text mb-auto">Understand the key concepts and strategies in corporate finance.</p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            Start reading
                            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="{{ url_for('static', filename='img/corporate_finance.webp') }}" class="bd-placeholder-img" width="200" height="250" alt="Corporate Finance Image">
                    </div>
                </div>
            </div>

            <!-- Card 10 -->
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis">Chapter 10</strong>
                        <h3 class="mb-0">International Finance</h3>
                        <p class="card-text mb-auto">Explore the complexities of international finance and global financial markets.</p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            Start reading
                            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="{{ url_for('static', filename='img/international_finance.webp') }}" class="bd-placeholder-img" width="200" height="250" alt="International Finance Image">
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <!-- Card 11 -->
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis">Chapter 11</strong>
                        <h3 class="mb-0">Behavioral Finance</h3>
                        <p class="card-text mb-auto">Learn about the psychological factors that influence financial decision-making.</p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            Start reading
                            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="{{ url_for('static', filename='img/behavioral_finance.webp') }}" class="bd-placeholder-img" width="200" height="250" alt="Behavioral Finance Image">
                    </div>
                </div>
            </div>

            <!-- Card 12 -->
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis">Chapter 12</strong>
                        <h3 class="mb-0">Financial Technology</h3>
                        <p class="card-text mb-auto">Explore the impact of technology on finance, including fintech innovations.</p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            Start reading
                            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="{{ url_for('static', filename='img/financial_technology.webp') }}" class="bd-placeholder-img" width="200" height="250" alt="Financial Technology Image">
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <!-- Card 13 -->
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis">Chapter 13</strong>
                        <h3 class="mb-0">Ethics in Finance</h3>
                        <p class="card-text mb-auto">Understand the importance of ethics in finance and how to uphold ethical standards.</p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            Start reading
                            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="{{ url_for('static', filename='img/ethics_finance.webp') }}" class="bd-placeholder-img" width="200" height="250" alt="Ethics in Finance Image">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='intro_finance.js') }}"></script>
</body>
</html>